// sitevariables

//Colors
$colorWhite: #fff;
$colorNav: #e54d8c;
$colorLinks:#e54d8c;
$colorPrimary:#e54d8c;
$colorDark:#2b2b2b;
$colorLight:#737373;
$colorHeadingBg:#F2F2F2;
$colorBlack:#000;
$colorLightBlack:#030303;
$colorLinkHover:#dca72e;
$colorSubmit:#dca72e;
$colorLeftActive:#ffe45f;
$colorPurple:#a88ece;
$colorBlue:#7c86ad;
$colorYellow:#e1be0c;
//Fonts
$font:'Roboto', sans-serif;
$flight:300;
$fregular:400;
$fmedium:500;
$fbold:700;
